{% extends 'base.html' %}

{% block content %}

    <h3 class="mt-3 mb-3 text-center">Домова книга на етажната собственост</h3>
    <div class="d-flex mb-2">

      <!-- search form -->
        <form method="GET" class="form-inline d-flex">
          <div class="me-2">
            <input type="text" name="query" class="form-control" placeholder="Търси..." value="{{ request.GET.query|default:'' }}">
          </div>
            <div>
                <button class="btn btn-outline-secondary" type="submit">Търси</button>
            </div>
        </form>

    <!-- filter form -->
        <form method="GET" class="form-inline d-flex ms-auto">
          <label class="mt-2 me-2">Категория:</label>
              {% for value in filter_form %}
                {{ value }}
              {% endfor %}
            <div>
                <button class="btn btn-outline-secondary ms-2" type="submit">Филтрирай</button>
            </div>
        </form>
         
    <!-- add resident -->
      {% if user.is_staff %}
        <div class="ms-auto">
          <a href="{% url 'resident-book-create' %}" class="btn btn-outline-primary ms-auto">Добави обитател</a>
        </div>
      {% endif %}

    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Име</th>
          <th scope="col">Фамилия</th>
          <th scope="col">блок</th>
          <th scope="col">етаж</th>
          <th scope="col">ап.</th>
          <th scope="col">телефон</th>
          <th scope="col">email</th>
          <th scope="col">Категория</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for resident in residents %}
          <tr>
            <td>{{page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ resident.first_name }}</td>
            <td>{{ resident.last_name }}</td> 
            <td>{{ resident.flat.building }}</td>
            <td>{{ resident.flat.floor }}</td>
            <td>{{ resident.flat.flat_number }}</td>
            <td>{{ resident.phone|default:"" }}</td>
            <td>{{ resident.email|default:"" }}</td>
            <td>{{ resident.get_role_display }}</td>
            <td><a href="{% url 'resident-book-edit' resident.id  %}"class="btn btn-outline-warning">Промени</a></td>
            <td><a href="{% url 'resident-book-delete' resident.id %}"class="btn btn-outline-danger">Изтрий</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

{% include 'paginator.html' %}

{% endblock %}
