{% extends 'base.html' %}

{% block content %}

    <h3 class="mt-3 mb-3 text-center">Домова книга на етажната собственост</h3>
    <div class="d-flex mb-2">

      <!-- search form -->
        <form method="GET" class="form-inline d-flex">
          <div class="me-2">
            <input type="text" name="query" class="form-control" placeholder="Търси..." value="{{ request.GET.query|default:'' }}"
              hx-get="{% url 'resident-book-search' %}" 
              hx-trigger="keyup changed delay:500ms" 
              hx-target="tbody">
          </div>
        </form>

    <!-- filter form -->
        <form method="GET" class="form-inline d-flex ms-auto">
          <label class="mt-2 me-2">Категория:</label>
          <select class="form-control" name="{{ form.role.name }}" hx-get="{% url 'resident-book-filter' %}" hx-trigger="change" hx-target="tbody">
              {% for value, label in form.role.field.choices %}
                  <option value="{{ value }}" {% if form.role.value == value %}selected{% endif %}>
                      {{ label }}
                  </option>
              {% endfor %}
          </select>
        </form>
         
    <!-- add resident -->
      <div class="ms-auto">
        <a href="{% url 'resident-book-create' %}" class="btn btn-outline-primary ms-auto">Добави обитател</a>
      </div>
    </div>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Име</th>
          <th scope="col">Фамилия</th>
          <th scope="col">блок</th>
          <th scope="col">етаж</th>
          <th scope="col">ап.</th>
          <th scope="col">телефон</th>
          <th scope="col">email</th>
          <th scope="col">Категория</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>   
        {% include 'condominium/resident-book-table.html' %}
      </tbody>
    </table>

<div id="items-container" hx-target="this" hx-swap="outerHTML"></div>
{% include 'paginator.html' %}
  </div>

{% endblock %}
