{% extends 'base.html' %}

{% block content %}

    <h3 class="mt-3 mb-3 text-center">Домова книга на етажната собственост</h3>
    <div class="d-flex mb-2">

      <!-- search form -->
        <form method="GET" class="form-inline d-flex">
          <div class="me-2">
            <input type="text" name="query" class="form-control" placeholder="Търси..." value="{{ request.GET.query|default:'' }}">
          </div>
            <div>
                <button class="btn btn-outline-secondary" type="submit">Търси</button>
            </div>
        </form>

    <!-- filter form -->
        <form method="GET" class="form-inline d-flex ms-auto">
          <label class="mt-2">По категория:</label>
          <div class="ms-2 me-2">
            <select name="role" class="form-control" id="statusSelect">
            <option value="">- - - -</option>
            {% for value in roles %}
            <option value="{{ value.role }}">{{ value.role }}</option>
            {% endfor %}
            </select>
          </div>
            <div>
                <button class="btn btn-outline-secondary" type="submit">Филтрирай</button>
            </div>
        </form>

      <div class="ms-auto">
        <a href="{% url 'resident-book-create' %}" class="btn btn-outline-primary ms-auto">Добави обитател</a>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Име</th>
          <th scope="col">Фамилия</th>
          <th scope="col">блок</th>
          <th scope="col">етаж</th>
          <th scope="col">ап.</th>
          <th scope="col">телефон</th>
          <th scope="col">email</th>
          <th scope="col">Категория</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for resident in residents %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ resident.first_name }}</td>
            <td>{{ resident.last_name }}</td> 
            <td>{{ resident.flat.building }}</td>
            <td>{{ resident.flat.floor }}</td>
            <td>{{ resident.flat.flat_number }}</td>
            <td>{{ resident.phone|default:"" }}</td>
            <td>{{ resident.email|default:"" }}</td>
            <td>{{ resident.role }}</td>
            <td><a href="{% url 'resident-book-edit' resident.id  %}"class="btn btn-outline-warning">Промени</a></td>
            <td><a href="{% url 'resident-book-delete' resident.id %}"class="btn btn-outline-danger">Изтрий</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>

<!-- paginator -->
  <nav aria-label="Page navigation example" class="d-flex">
  <ul class="pagination ms-auto">
    {% if residents.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ residents.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><p class="page-link">Page {{residents.number}} of {{ residents.paginator.num_pages }}</p></li>
    {% if residents.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ residents.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ residents.paginator.num_pages }}">Last</a></li>
    {% endif %}
  </ul>
</nav>

<!-- add selected tag to last selected option -->
<script>
  const select = document.getElementById('statusSelect');
  const storageKey = 'statusSelectValue';

  // Restore after reload
  const saved = localStorage.getItem(storageKey);
  if (saved) {
    select.value = saved;
  }

  // Save on change
  select.addEventListener('change', function () {
    localStorage.setItem(storageKey, this.value);
  });
</script>

{% endblock %}
