body {
    font-family: 'Nunito';
}

#hero {
  background-image: url("/static/images/building.jpg");
  background-size:cover;
  background-position: center;
  position: relative;
  min-height: 50vh;
  color: white;
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}


#not-found-img {
  width: auto;
  height: 128px;
}

.playwrite-nz-basic-normal {
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


