{% load static %}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid col-md-9">
    <a class="navbar-brand" href="{% url 'homepage' %}"><img style="width: auto; height: 32px;" src="{% static 'images/home.png' %}" alt="Home"> Начало</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="{% url 'resident-book' %}">Домова книга</a>
        <a class="nav-link" href="#">Сметки</a>
        <a class="nav-link" href="#">Обяви</a>
      </div>
    </div>
  </div>
</nav>